<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
      p{font-size: 16px; text-align: center;}
      </style>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Contact Us! </h1>
      <p> Contact the coolest cats on the web right now! </p>

<form id="contact-form" method="POST" action="/contact">
  <label for="who">Who do you want to contact?</label>
  <input type="text" name="who" value="<%= qs.person %>">
  <label for="department">Which department?</label>
  <input type="text" name="department" value="<%= qs.dept %>" >
  <label for="email">Your email</label>
  <input type="email" name="email" />
  <input type="submit" name="submit" />
</form>

  </body>
</html>
